section{
    padding: 20px 0;
}


#header{
    background-image: url(../images/background-1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#text-img{
    background-image: url(../images/bg-2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.program-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 30px;
    align-items: center;
    justify-content: center;

}

.img-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 16px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#footer{
    background-image: url(../images/bg-3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.col-md-2 text-light p{
    line-height: 1.5;
}
